<!--<pre>{{ poll | json}}</pre>-->

<div class="container">	
	<h2>MANAGE COMPONENT</h2>
	<!--
	<div *ngIf="poll" class="voting-details">	
		<h1 class="text-center text-primary">{{ poll.name }}</h1>

		<h3>Current Votes</h3>

		<div class="row">
			<div class="col-xs-12">
			  <div class="btn-group btn-group-vertical" data-toggle="buttons">

			    <label *ngFor="let option of poll.options; let i = index;" class="btn">
			      <input type="radio" name='poll-vote'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  {{ option.text }}</span>
			    </label>

			  </div>
			</div>
		</div>	

		<button>Share this Poll</button>

		<div *ngIf="!showVotingContainer" class="row button-container vote-container">
			<button class="btn btn-default" (click)="cancel()">Back to Polls</button>			
		</div>

		<nvd3 [options]="options" [data]="data"></nvd3>
		<div id="results"></div>
	</div>
	-->
</div>