<div class="container">
	<div class="jumbotron">
	  <h1>Current Polls</h1>
	  <p>Click on any polls shown to vote or view results. You must be logged in to create a new poll.</p>
	  <p><a class="btn btn-primary btn-lg" [routerLink]="['login']" role="button">Login</a></p>
	</div>

	<p>
	  Show current polls they can vote on since those are public. Only need to be logged in to create new polls. There are {{polls.length}} Current Polls.
	</p>

	<div class="list-group">
		<a *ngFor="let poll of polls" (click)="showPollDetail(poll._id)" class="list-group-item">{{ poll.name }}&nbsp;<span class="badge">14</span></a>
	</div>

</div>