<pre>
	{{ poll | json}}
</pre>

<div class="container">	
	<div *ngIf="poll" class="voting-details">	
		<h1>Cast Your Vote for {{ poll.name }}</h1>

		<div class="row">
			<div class="col-xs-12">
			  <div class="btn-group btn-group-vertical" data-toggle="buttons">

			    <label *ngFor="let option of poll.options; let i = index;" (click)="setCurrentVote(i)" class="btn">
			      <input type="radio" name='poll-vote'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  {{ option.text }}</span>
			    </label>

			  </div>
			</div>
		</div>	

		<div class="row button-container">
			<button class="btn btn-success" (click)="castVote()">Cast Vote</button>
			<button class="btn btn-danger" (click)="cancel()">Cancel</button>			
		</div>

		<nvd3 [options]="options" [data]="data"></nvd3>
		<div id="results"></div>
	</div>
</div>